* {
    color: white;
    font-family: 'Staatliches', cursive;
}

.instructions {
    font-size: larger;
}

.container {
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    width: 40%;
    max-width: 50%;
    border: 50px;
    border-width: 10px;
}

body {
    background-image: url("https://img.wallpapersafari.com/desktop/1920/1080/92/46/MFysuj.jpg");
}

#name {
    width: 50%;
    height: 50px;
    margin: auto;
    color: black;
    font-size: large;
}

button {
    width: 100%;
    margin: auto;
    height: 50px;
    border-radius: 12px;
    font-size: 25px;
    font-weight: bold;
    text-align: start;
    background-color: white;
    color: black;
}

img {
    display: block; 
    margin: auto; 
    width: 50%;
    height: 200px;
}

.hide {
    display: none;
}
